.action-btn {
  border: none;
  border-radius: 50px;
  padding: 2vh 4vw;
  font-size: 2vh;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-red {
  background-color: #e61900;
  color: black;
}
.btn-white {
  background-color: #ffffff;
  color: black;
}
.home-btn {
  background-color: #ffffff;
  color: black;
  padding: 1.5vh 5vw;
}
